@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.
    <a href="https://scontent.frix3-1.fna.fbcdn.net/v/t1.0-9/1450980_797091313637857_587708660_n.jpg?_nc_cat=0&oh=04a31e65be8793085b61df6eda12da0d&oe=5B6E7494">
    </a>
</p>
